:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x::before,
.cell.x::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: black;
}

.cell.x::before {
    transform: rotate(45deg);
}

.cell.x::after {
    transform: rotate(-45deg);
}

.cell.circle::before {
    content: '';
    position: absolute;
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: transparent;
    border: calc(var(--mark-size) * .15) solid black;
    border-radius: 50%;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    content: '';
    position: absolute;
    background-color: lightgrey;
}

.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
    border: calc(var(--mark-size) * .15) solid lightgrey;
    border-radius: 50%;
}


.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
}

.winning-message.show {
    display: flex;
}

#restartButton {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

#restartButton:hover {
    background-color: black;
    color: white;
    border-color: white;
}